<nav>

    <div class="container">

        <div class="menu-boxed">

            <div class="menu-header">
            	
            	<a href="./" class="logo">            		
            		<h3>Litigasi</h3>
            	</a>

            	<ul class="menu-right">
            		<li>
            			<a href="./" class="btn btn-link">
	            			Log In / Sign Up
	            		</a>
            		</li>
            		<li>
            			<a href="./" class="btn btn-red">
            				<span><i class="icon-add"></i></span>
            				<strong>Consultation</strong>
            			</a>
            		</li>
            	</ul>

            </div>

            <ul class="menu-dynamic">
            	<li><a href="">Contoh 1</a></li>
            	<li><a href="">Contoh 2</a></li>
            	<li><a href="">Contoh 3</a></li>
            	<li><a href="">Dropdown</a>
            		<ul>
            			<li><a href="./">drop down</a></li>
            			<li><a href="./">drop down</a></li>
            			<li><a href="./">drop down</a>
            				<ul>
            					<li><a href="">Wow</a></li>
            					<li><a href="">Wow</a></li>
            					<li><a href="">Wow</a></li>
            				</ul>
            			</li>
            		</ul>
            	</li>
            </ul>

        </div>

    </div>

</nav>